In [2]:
import random
import pandas as pd
import csv
options = [str(x) for x in range(10)]
# pw_length = int(input('Select pw length: '))
pw_length = 4
pw=[]
for i in range(pw_length):
    pw.append(random.choice(options))
# print(pw)

In [2]:
def generate_pw(pw_length=4,debug=False):
    options = [str(x) for x in range(10)]
    # pw_length = int(input('Select pw length: '))
    pw=[]
    for i in range(pw_length):
        pw.append(random.choice(options))
    if debug:
        print(f'password is: {pw}')
    return pw
def check_guess(guess, password):
    answer_key= {}
    for index,character in enumerate(password):
        if character in answer_key.keys():
            answer_key[character].append(index)
        else:
            answer_key[character] = [index]
    right_place = 0
    right_digit = 0
    for index, character in enumerate(guess):
        if character in answer_key.keys():
            if index in answer_key[character]:
                right_place += 1
                answer_key[character].pop(answer_key[character].index(index))
            elif answer_key[character] == []:
                right_digit += 0
            else:
                right_digit += 1
            
    output = (right_place, right_digit)
    return output

In [5]:
guessing = True
pw = generate_pw(debug=False)
# pw = ['1','1','9','5']
game = pd.DataFrame({'Password':[],'Guess':[],'Right_Place':[],'Right_Digit':[]})
while guessing:
    guess = input(f'Guess the Password! ({pw_length} digits long): ')
    if guess.lower() == 'give up':
        print(pw)
        guessing = False
    feedback = check_guess(guess, pw)
    print(f'Right Digit, Right Place: {feedback[0]}')
    print(f'Right Digit, Wrong Place: {feedback[1]}')
    game = game.append(
        pd.DataFrame({'Password':''.join(pw),
                      'Guess':''.join(guess),
                      'Right_Place':int(feedback[0]),
                      'Right_Digit':int(feedback[1])}
                     ,index=[len(game)]))
    if feedback[0] == pw_length:
        print('Congrats, you won!')
        guessing = False
game

Guess the Password! (4 digits long): 3865
Right Digit, Right Place: 1
Right Digit, Wrong Place: 0
Guess the Password! (4 digits long): 3941
Right Digit, Right Place: 0
Right Digit, Wrong Place: 1
Guess the Password! (4 digits long): 3124
Right Digit, Right Place: 1
Right Digit, Wrong Place: 1
Guess the Password! (4 digits long): 1920
Right Digit, Right Place: 1
Right Digit, Wrong Place: 0
Guess the Password! (4 digits long): 7902
Right Digit, Right Place: 1
Right Digit, Wrong Place: 0
Guess the Password! (4 digits long): 9987
Right Digit, Right Place: 0
Right Digit, Wrong Place: 1
Guess the Password! (4 digits long): 8722
Right Digit, Right Place: 2
Right Digit, Wrong Place: 1
Guess the Password! (4 digits long): 7822
Right Digit, Right Place: 3
Right Digit, Wrong Place: 0
Guess the Password! (4 digits long): 4822
Right Digit, Right Place: 4
Right Digit, Wrong Place: 0
Congrats, you won!

  Guess Password  Right_Digit  Right_Place
0  3865     4822          0.0          1.0
1  3941     4822          1.0          0.0
2  3124     4822          1.0          1.0
3  1920     4822          0.0          1.0
4  7902     4822          0.0          1.0
5  9987     4822          1.0          0.0
6  8722     4822          1.0          2.0
7  7822     4822          0.0          3.0
8  4822     4822          0.0          4.0

In [6]:
game.to_csv('output4.csv')

In [15]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
import os

sql_alchemy_database_uri = os.environ.get('DATABASE_URL', '') or 'sqlite:///db.sqlite'
engine = create_engine(sql_alchemy_database_uri)
Base = automap_base()
Base.prepare(engine, reflect = True)

# Create Session
session = Session(engine)

In [28]:
pd.read_sql('SELECT * FROM play_history',engine)

,record_id,player,game,password,guess,guess_number,right_digit,right_place
0,1,player8844,1,6429,1234,1,2,0
1,2,player8844,1,6429,5678,2,1,0
2,3,player8844,1,6429,912,3,2,0
3,4,player8844,1,6429,1111,4,0,0
4,5,player8844,1,6429,2222,5,0,1
5,6,player8844,1,6429,3333,6,0,0
6,7,player8844,1,6429,4444,7,0,1
7,8,player8844,1,6429,2488,8,1,1
8,9,player8844,1,6429,7427,9,0,2
9,10,player8844,1,6429,6426,10,0,3
10,11,player8844,1,6429,6420,11,0,3
11,12,player8844,1,6429,6429,12,0,4