In [81]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import numpy as np

data_url = 'https://ucbe-mastermind.herokuapp.com/data'
response = requests.get(data_url)

data = pd.DataFrame(response.json())
#data.dtypes

In [82]:
print(data)

     game  guess  guess_number  password      player  record_id  right_digit  \
0       1   1234             1       238  player3793          1            0
1       1   1256             2       238  player3793          2            0
2       1   1738             3       238  player3793          3            0
3       1   1039             4       238  player3793          4            1
4       1   1794             5       238  player3793          5            0
5       1    230             6       238  player3793          6            0
6       1    238             7       238  player3793          7            0
7       2   1234             1      7201     theBest          8            1
8       2   1567             2      7201     theBest          9            2
9       2    289             3      7201     theBest         10            1
10      2   5298             4      7201     theBest         11            0
11      2   6210             5      7201     theBest         12            2
12      2   7201             6      7201     theBest         13            0
13      3   1234             1      4261     theBest         14            2
14      3   1325             2      4261     theBest         15            2
15      3   3246             3      4261     theBest         16            2
16      3   4237             4      4261     theBest         17            0
17      3   4261             5      4261     theBest         18            0
18      4   5555             1      3960    Tamarind         19            0
19      4   1111             2      3960    Tamarind         20            0
20      4   2222             3      3960    Tamarind         21            0
21      4   3333             4      3960    Tamarind         22            0
22      4   4444             5      3960    Tamarind         23            0
23      4   6666             6      3960    Tamarind         24            0
24      4   7777             7      3960    Tamarind         25            0
25      4   8888             8      3960    Tamarind         26            0
26      4   9999             9      3960    Tamarind         27            0
27      4      0            10      3960    Tamarind         28            0
28      4   3222            11      3960    Tamarind         29            0
29      4   3622            12      3960    Tamarind         30            1
..    ...    ...           ...       ...         ...        ...          ...
469    51   4488             3      2812  pied piper        470            1
470    51   3399             4      2812  pied piper        471            0
471    51   2200             5      2812  pied piper        472            1
472    51   2808             6      2812  pied piper        473            0
473    51   2184             7      2812  pied piper        474            2
474    52   1234             1      2175      name_1        475            2
475    52   1234             2      2175      name_1        476            2
476    52   1234             3      2175      name_1        477            2
477    52   1234             4      2175      name_1        478            2
478    52   1234             5      2175      name_1        479            2
479    52   1234             6      2175      name_1        480            2
480    52   1234             7      2175      name_1        481            2
481    52   1234             8      2175      name_1        482            2
482    52   1234             9      2175      name_1        483            2
483    52   1234            10      2175      name_1        484            2
484    52   1234            11      2175      name_1        485            2
485    52   1234            12      2175      name_1        486            2
486    52   1234            13      2175      name_1        487            2
487    52   1234            14      2175      name_1        488            2
488    52   1234            15      2175      name_1        489            2
489    52   1234            16      2175      name_1        490            2
490    52   1234            17      2175      name_1        491            2
491    52   1234            18      2175      name_1        492            2
492    52   1234            19      2175      name_1        493            2
493    52   1234            20      2175      name_1        494            2
494    52   1234            21      2175      name_1        495            2
495    52   1234            22      2175      name_1        496            2
496    52   1234            23      2175      name_1        497            2
497    52   1234            24      2175      name_1        498            2
498    52   1234            25      2175      name_1        499            2

     right_place
0              2
1              1
2              2
3              1
4              0
5              3
6              4
7              1
8              0
9              1
10             1
11             1
12             4
13             1
14             0
15             1
16             2
17             4
18             0
19             0
20             0
21             1
22             0
23             1
24             0
25             0
26             1
27             1
28             1
29             1
..           ...
469            0
470            0
471            1
472            2
473            1
474            0
475            0
476            0
477            0
478            0
479            0
480            0
481            0
482            0
483            0
484            0
485            0
486            0
487            0
488            0
489            0
490            0
491            0
492            0
493            0
494            0
495            0
496            0
497            0
498            0

[499 rows x 8 columns]

In [83]:
pins_df=pd.read_csv("four-digit-pin-codes-and-frequency.csv")
#print(pins_df)
pins_df.shape
pins_df=pins_df['Pins'].str.split(';', 1, expand=True)
#pins_df

In [84]:
# Rename columns and group by frequency
new_pins_df=pins_df.rename(columns={0: "Pins", 1: "Frequency"})
# new_pins_df
New_pins_df=new_pins_df.apply(pd.to_numeric)
# New_pins_df.dtypes
#New_pins_df

In [85]:
# of bins - 150
New_pins_df["Frequency"].nunique()

150

In [86]:
list=New_pins_df.Frequency.unique()
#list

In [87]:
numeric_list=pd.to_numeric(list)
print(numeric_list)

[255 244 221 212 203 199 196 195 192 191 190 188 185 184 183 181 180 179
 178 177 175 174 173 172 171 170 169 168 167 166 165 164 163 162 161 160
 159 158 157 156 155 154 153 152 151 150 149 148 147 146 145 144 143 142
 141 140 139 138 137 136 135 134 133 132 131 130 129 128 127 126 125 124
 123 122 121 120 119 118 117 116 115 114 113 112 111 110 109 108 107 106
 105 104 103 102 101 100  99  98  97  96  95  94  93  92  91  90  89  88
  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70
  69  68  67  66  65  64  63  62  61  60  59  58  57  55  54  53  51  50
  48  46  44  42  36   0]

In [88]:
#Create bins
bins=[-1, 97, 148, 255]
bin_names=["Difficult", "Medium", "Easy"]
pin_classification=pd.cut(New_pins_df["Frequency"], bins, labels= bin_names)      
New_pins_df["Level"]= pd.cut(New_pins_df["Frequency"], bins, labels= bin_names)
New_pins_df

      Pins  Frequency      Level
0     1234        255       Easy
1     1111        244       Easy
2        0        221       Easy
3     1212        212       Easy
4     7777        203       Easy
5     1004        199       Easy
6     2000        199       Easy
7     4444        196       Easy
8     2222        195       Easy
9     6969        195       Easy
10    9999        192       Easy
11    3333        191       Easy
12    5555        190       Easy
13    6666        190       Easy
14    1122        188       Easy
15    1313        185       Easy
16    8888        185       Easy
17    2001        184       Easy
18    4321        184       Easy
19    1010        183       Easy
20     909        181       Easy
21    2580        180       Easy
22       7        179       Easy
23    1818        178       Easy
24    1230        177       Easy
25    1984        175       Easy
26    1986        175       Easy
27      70        174       Easy
28    1985        174       Easy
29     987        173       Easy
...    ...        ...        ...
9970  8397         57  Difficult
9971  8539         57  Difficult
9972  8646         57  Difficult
9973  9695         57  Difficult
9974  9805         57  Difficult
9975  6806         55  Difficult
9976  7993         55  Difficult
9977  8146         55  Difficult
9978  8343         55  Difficult
9979  8557         55  Difficult
9980   439         54  Difficult
9981  8438         54  Difficult
9982  9047         54  Difficult
9983  9539         54  Difficult
9984  6093         53  Difficult
9985  7063         53  Difficult
9986  8196         53  Difficult
9987  6827         51  Difficult
9988  7394         51  Difficult
9989   859         50  Difficult
9990  8957         48  Difficult
9991  9480         48  Difficult
9992  6793         46  Difficult
9993   738         44  Difficult
9994  8398         44  Difficult
9995  6835         42  Difficult
9996  7637         42  Difficult
9997  9629         42  Difficult
9998  8093         36  Difficult
9999  8068          0  Difficult

[10000 rows x 3 columns]

In [68]:
New_pins_df.groupby(by="Level").size()

Level
Difficult    5866
Medium       3953
Easy          180
dtype: int64

In [ ]:
#Create function to classify passwords in "data" frame as easy, medium or difficult based on "New_pins_df" categories